# Windows reserved filenames
nul

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Publish output
publish/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio
.vs/
*.csproj.user

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store

# Secrets
appsettings.Development.json
